# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage
*.lcov
.nyc_output

# Next.js
/.next/
/out/
/build
dist
.vercel

# Production
/build
*.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local env files
.env
.env*.local
.env.development
.env.test
.env.production

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.swp
*.swo
*~
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# OS
Thumbs.db
.DS_Store

# Misc
*.pem
.cache
.temp
.tmp

# Bundle analyzer
stats.html
.next/analyze/

# Typescript
*.tsbuildinfo
next-env.d.ts

# PWA files
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/sw.js.map
**/public/workbox-*.js.map
**/public/worker-*.js.map

# Sentry
.sentryclirc

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
playwright-report/
test-results/
